.vscode/launch.json
.vscode/rad.json
Default Publisher_GoodName_23.0.0.0.app
.alpackages/Microsoft_Application_23.3.14876.15024.app
.alpackages/Microsoft_Base Application_23.3.14876.15024.app
.alpackages/Microsoft_System Application_23.3.14876.15024.app
.alpackages/Microsoft_System_23.0.14966.0.app
